html{
    font-size: 62.5%;
}



.container{
 
    margin: 0 auto;
    width: 70%;
    border: 1px solid black;
    

}
.post{
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    color: cornflowerblue;
    font-size: 3rem;
   
}