html{
    font-size: 62.5%;
}

body{
    display: flex;
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;
    color: cornflowerblue;
}

.container{
   
    text-align: center;
    padding: 1rem;
    border: .5rem solid black;
    width: 70%;
    
}

.post{
    font-size: 3rem;
    
}